/* Add Lesson Page */

body {
    background-color: #EBEBEB;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px #BFBFBF;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #212121;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type="text"], input[type="file"], textarea {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="submit"] {
    width: 50%;
    height: 40px;
    background-color: #212121;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #484848;
}
